body {
    background: #FFF4D8;
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    /* border: 1px solid red;  */
    font-family: roboto, montserrat, poppins;
}

/* header area */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 100%;
}

.header {
    width: 100%;
    background: #63338A;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 80px;
    font-weight: 700;
}

h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    /* identical to box height */
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 0px 0px;
}

.logo {
    width: 76px;
    height: 62px;
    left: 40px;
    top: 8.5px;
    margin: auto;
}

.header .inactive {
    color: white;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

.header .inactive:hover {
    color: #ffa700;
}

.humicon {
    width: 46px;
    height: 46px;
    right: 40px;
    top: 11px;
    margin: auto;
}

.humicon img{
    border-radius: 50%;
    width: 46px;
    height: 46px;
    vertical-align: middle;
}
.login {
    width: 85px;
    height: 50px;
    left: 1176px;
    top: 12px;
    background: #FABA18;
    border-radius: 80px;
    margin: auto;
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.login a {
    text-decoration: none;
}

.login:active {
    background: #D39A07;
}

.logintxt {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #000000;
}

/* content area */
.content {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1086px;

}

.top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 971px;

    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 10px 0px;

}
.top img{
    width: 500px;
    height: 400px;
}
.bottom {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 1086px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 13px 0px;
}

.content h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */
    text-align: justify;
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 13px 0px;
}

#date h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: justify;
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 21px 0px;
}

#isi p{
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-align: justify;

    color: #000000;
    /* Inside Auto Layout */
    flex-grow: 0;
    margin: 25px ;
}

/*  footer area */
.footer {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 700;
    height: 135px;
    width: 100%;
    background: #331849;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}

.connect {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin: auto;
    margin-left: 2rem;
    text-align: center;
    gap: 2px;
}

.contact {
    margin: auto;
    margin-right: 5rem;
}

.baris {
    display: grid;
    grid-template-columns: 10% 85%;
    padding: 10px;
}

.rightfooter {
    margin-left: 15px;
    color: #FFFFFF;
}

.contus {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}