@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

/* body {
  font-family: 'Poppins', sans-serif;
} */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    background: #E0C1E6;
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 8.5%;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.head-form {
    position: absolute;
    z-index: -1;
    top: 0px;
    width: 100vw;
    height: 44px;
    margin-top: 0px;
    /* left: 0px;
    top: 0px; */
    background: #714E8E;
    padding: 10px;
}

#footer {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 10px;
    background: #331849;
    width: 100%;
    height: 110px;
}

.contactus {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}

.textconnect {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 10px;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 23px 0px; */

}

.wa {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0px;
}

.email {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: -1px 0px;
}

.textcontact-det {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 31px;
}

.connectus {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

#icon {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 7px 0px;
    gap: 20px;
}

.logomedsos {
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 22px;
}
.LOGO-form{
    margin-top: 22px;
}

.textjudul {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    color: #DA73D2;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    width: 109px;
    height: 37px;
    left: 0px;
    top: 0px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 62px;
    margin-bottom: 100px;
    margin-top: 67px;
    width: 230px;
    height: 250px;
    left: 140px;
    top: 111px;
    background: #69499A;
    box-shadow: 0px 7px 1px 3px rgb(0 0 0 / 25%);
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
}

.line {
    /* Line 7 */
    position: static;
    width: 127px;
    height: 0px;
    left: 0px;
    top: 45px;
    background: #FABA18;
    border: 2px solid #FABA18;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

.judul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 120px;
    height: 56px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: none;
    flex-grow: 0;
}


#input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.user-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 29px;
    background: #FDFDFD;
    border-radius: 10px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 25px 0px;
}

.pass-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 35px;
    background: #FDFDFD;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.login {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 95px;
    background: #E0C1E7;
    border-radius: 7px;
    flex: none;
    order: 1;
    margin-top: 10px;
    flex-grow: 0;
    cursor: pointer;
    transition: ease 0.3s;
}

.login:active {
    background: #E7A5F7;
    color: wheat;
}

.login-txt {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 27px;
    /* identical to box height */
    color: #69499A;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 0px 10px; */
}

.alt-signup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 233px;
    height: 18px;
    left: 83.5px;
    top: 196px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 19px 0px;
}

.alternative {
    position: static;
    width: 167px;
    height: 18px;
    left: 0px;
    top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 6px;
}

#signup {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #F1C46E;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    transition: ease-in-out 0.3s;
}

#signup:hover{
    color: #f1d8a8;
}
.right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    object-fit: cover;
    width: 334px;
    height: 376px;
    background-image: url(/image/Sisi-kanan.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 68px;
    box-shadow: rgb(0 0 0 / 25%) 4px 5px 3px 3px;
    border-radius: 0px 10px 10px 0px;
}


#container {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

}