body {
    background: white;
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    /* border: 1px solid red;  */
    font-family: roboto, montserrat, poppins;
}

/* header area */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 100%;
}

.header {
    width: 100%;
    background: #63338A;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 80px;
    font-weight: 700;
}

h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    /* identical to box height */
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 0px 0px;
}

.logo {
    width: 76px;
    height: 62px;
    left: 40px;
    top: 8.5px;
    margin: auto;
}

.header .inactive {
    color: white;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

.header .inactive:hover {
    color: #ffa700;
}

.humicon {
    width: 46px;
    height: 46px;
    right: 40px;
    top: 11px;
    margin: auto;
}

.humicon img{
    border-radius: 50%;
    width: 46px;
    height: 46px;
    vertical-align: middle;
}
.login {
    width: 85px;
    height: 50px;
    left: 1176px;
    top: 12px;
    background: #FABA18;
    border-radius: 80px;
    margin: auto;
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.login a {
    text-decoration: none;
}

.login:active {
    background: #D39A07;
}

.logintxt {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #000000;
}

/* content area */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 1075px;
    height: 1301px;
    ;
    margin-top: 20px;
}

.title {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 109px;
    height: 63px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 20px 0px;

}

.underline {
    align-items: center;
    width: 84px;
    height: 10px;
    background: #FABA18;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 10px;
}

.isi-content {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 1075px;
    height: 1148px;

    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 10px 0px;
}

.isi-content-atas {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 1075px;
    /* height: 446px; */
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 14px 0px;

}

.update {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 715px;
    /* height: 446px; */

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 0px 25px; */
}

.update img {
    background-repeat: no-repeat;
    width: 710px;
    height: 420px;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 5px;
}

.update img:hover {
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
    transform: translateY(-0.4rem);
}

.update h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 15px 0px;
}

.latest {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 335px;
    /* height: 400px; */
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 0px 25px;

}
.latest img{
    width: 100px;
    height: 60px;
}
.latest h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;

    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;

}

.latest-isi {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 335px;
    height: 84px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 20px 0px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    

}
.a{
    text-decoration: none;
}

.latest-isi:hover {
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
    background-color: #FFFFFF;
    border-radius: 5px;
}

.latest-isi p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;

    color: #000000;
    /* Inside Auto Layout */
    margin: 10px;
}

.garis-batas {
    width: 300px;
    height: 0px;
    border: 1px solid #C6B4B4;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 20px 0px;
}

.isi-content-bawah {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 992px;
    height: 668px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 34px 0px;

}

.isi-content-bawah h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 24px 0px;
}

.popular-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 992px;
    height: 614px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 24px 0px;

}

.row-popular {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 992px;
    height: 295px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 15px 0px;

}
.row-popular a{
    text-decoration: none;
    margin: auto;
}
.popular-box {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 233px;
    height: 295px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: auto;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.popular-box:hover {
    box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.25);
    transform: translateY(-1rem);
}
.popular-box img{
    width: 233px;
    height: 123px;
}

.popular-box h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 10px 0px;
    margin-left: 10px;
}

.popular-box p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* text-align: justify; */

    color: #000000;

    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 19px 10px;
}

/*  footer area */
.footer {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 700;
    height: 135px;
    width: 100%;
    background: #331849;
    font-family: 'Poppins', sans-serif;
    margin-top: 200px;
}

.connect {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin: auto;
    margin-left: 2rem;
    text-align: center;
    gap: 2px;
}

.contact {
    margin: auto;
    margin-right: 5rem;
}

.baris {
    display: grid;
    grid-template-columns: 10% 85%;
    padding: 10px;
}

.rightfooter {
    margin-left: 15px;
    color: #FFFFFF;
}

.contus {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}