body {
    background: #E0C1E6;
    margin: 0;
    height: 100%;
}

* {
    /* border: 1px solid red;  */
    font-family: roboto, montserrat, poppins, roboto;
}

.header {
    width: 100%;
    background: #63338A;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 80px;
    font-weight: 700;
}

/* .header .active {
    color: #ffa700;
} */


.header .inactive {
    color: white;
}

.header .inactive:hover {
    color: #ffa700;
}

.header a {
    text-align: center;
    display: block;
    text-decoration: none;
    margin: auto;
    font-size: 1rem;
}

.humicon {
    width: 46px;
    height: 46px;
    right: 40px;
    top: 11px;
    margin: auto;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
.humicon img{
    border-radius: 50%;
    width: 46px;
    height: 46px;
    vertical-align: middle;
}
.menubar-left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    transition: color .25s;
}

.menubar-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    transition: color .25s;
}
.logo {
    width: 76px;
    height: 62px;
    left: 40px;
    top: 8.5px;
    margin: auto;
}
.container {
    margin-top: 0;
}

.menulink {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    transition: color .25s;
}

.content {
    align-items: center;
    width: 838px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.con-title {
    width: 839px;
    height: 44px;
    left: 212px;
    top: 161px;
    text-align: center;
}

.title {
    width: 361px;
    height: 37px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
}

.line {
    width: 127px;
    height: 5px;
    background: #3A3939;
}

.form {
    width: 75%;
    height: 100%;
    margin-top: 3rem;
}

.subtittle {
    width: 79px;
    height: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

form input {
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 10px;
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    padding: 0.75rem 1rem;
    /* color: black; */
}

::placeholder {
    color: #ACACAC;
}

.form1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.method {
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 10px;
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    padding: 2px 1rem;
}

.form select {
    color: black;
}




.upload-image input {
    width: 100%;
    height: 100%;
    height: 2.5rem;
    font-size: 1rem;
    box-sizing: none;
    border: none;
    border-radius: 0;
    color: #828282;

    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    padding: 0.5%;
}

.action {
    text-align: center;
}

button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.btn_submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 155px;
    height: 50px;
    background: #331849;
    border-radius: 5px;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
}
.btn_submit:active{
    background-color: #6f4c8a; 
}

.footer {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 700;
    height: 135px;
    background: #331849;
    font-family: Poppins;
}

.connect {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin: auto;
    margin-left: 2rem;
    text-align: center;
    gap: 2px;
}

.contact {
    margin: auto;
    margin-right: 5rem;
}

.contus {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin: auto;
    text-align: center;
}

.baris {
    display: grid;
    grid-template-columns: 10% 85%;
    padding: 10px;
}

.rightfooter {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 1rem;
}