/* header */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header area */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 100%;
}

.header {
    width: 100%;
    background: #63338A;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 80px;
    font-weight: 700;
}

.logo {
    width: 76px;
    height: 62px;
    left: 40px;
    top: 8.5px;
    margin: auto;
}

.header .inactive {
    color: white;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

.header .inactive:hover {
    color: #ffa700;
}

.humicon {
    width: 46px;
    height: 46px;
    right: 40px;
    top: 11px;
    margin: auto;
}
.humicon img{
    border-radius: 50%;
    width: 46px;
    height: 46px;
    vertical-align: middle;
}
/* content */
.content{
    width: 80%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
}

.tabel {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 17rem;
}

.tabel td{
    text-align: left;
}

.tabel td, .tabel th {
    border: 1px solid #828282;
    padding: 8px;
}

.tabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #63338A;
    color: white;
}

.tabel tr:nth-child(even){background-color: #f2f2f2;}

.tabel tr:hover {background-color: #ddd;}


/* footer area */
.footer {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 700;
    height: 135px;
    width: 100%;
    background: #331849;
    font-family: 'Poppins', sans-serif;
    /* argin-top: 2rem;m */
}

.connect {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin: auto;
    margin-left: 2rem;
    text-align: center;
    gap: 2px;
}

.contact {
    margin: auto;
    margin-right: 5rem;
}

.baris {
    display: grid;
    grid-template-columns: 10% 85%;
    padding: 10px;
}

.rightfooter {
    margin-left: 15px;
    color: #FFFFFF;
}

.contus {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

#link-news {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 10px;
    text-decoration: none;
}

.login {
    width: 85px;
    height: 50px;
    left: 1176px;
    top: 12px;
    background: #FABA18;
    border-radius: 80px;
    margin: auto;
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.login a {
    text-decoration: none;
}

.login:active {
    background: #D39A07;
}

.logintxt {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #000000;
}

