body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FCE1E5;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header area */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 100%;
}

.header {
    width: 100%;
    background: #63338A;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 80px;
    font-weight: 700;
}

.logo {
    width: 76px;
    height: 62px;
    left: 40px;
    top: 8.5px;
    margin: auto;
}

.header .inactive {
    color: white;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

.header .inactive:hover {
    color: #ffa700;
}

.humicon {
    width: 46px;
    height: 46px;
    right: 40px;
    top: 11px;
    margin: auto;
}
.humicon img{
    border-radius: 50%;
    width: 46px;
    height: 46px;
    vertical-align: middle;
}

.login {
    width: 85px;
    height: 50px;
    left: 1176px;
    top: 12px;
    background: #FABA18;
    border-radius: 80px;
    margin: auto;
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.login a {
    text-decoration: none;
}

.login:active {
    background: #D39A07;
}

.logintxt {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #000000;
}

/* isi area */
.isi {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
    width: 1104px;
    height: 1385px;

}

.isi-atas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 1104px;
    height: 845px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 20px;

}

.content-atas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 954px;
    height: 528px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;

}

.content-atas img {
    height: 400px;
    justify-content: center;
    margin-left: 50px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 67px;
    /* identical to box height */
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 17px 0px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    /* Inside Auto Layout */
    flex: none;

    flex-grow: 0;

}

.isi-bawah {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 1062px;
    height: 484px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;

}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
}

.isi-category {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 0px; */
    width: 1062px;
    height: 405px;
    left: 0px;
    top: 79px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 34px 0px;
    transition: all .3s cubic-bezier(.16, .8, .62, 1.52);
    transform: translateY(-1rem);
}

.box-content {
    width: 256px;
    height: 405px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #FFFFFF;
    border: 1px solid rgba(91, 87, 87, 0.35);
    box-shadow: 4px 4px 30px rgba(33, 33, 33, 0.15);
    border-radius: 10px;
    margin: auto;
    transition: 0.3s ease;
    cursor: pointer;

}


.box-content img {
    display: flex;
    align-items: center;
    margin: auto;
}

.box-content:hover {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%);
     transform: translateY(-1rem);
}

.text-content {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 234px;
    height: 252px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: auto;
    margin-top: 10px;
}

.text-content h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */

    letter-spacing: -0.01em;
    color: #2C368E;
    /* Inside Auto Layout */
    flex: none;

    flex-grow: 0;
    margin: 11px 0px;
}

.text-content p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    /* Inside Auto Layout */
    flex: none;

    flex-grow: 0;
    margin: 11px 0px;
}



/*  footer area */
.footer {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 700;
    height: 135px;
    width: 100%;
    background: #331849;
    font-family: 'Poppins', sans-serif;
    margin-top: 200px;
}

.connect {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin: auto;
    margin-left: 2rem;
    text-align: center;
    gap: 2px;
}

.contact {
    margin: auto;
    margin-right: 5rem;
}

.baris {
    display: grid;
    grid-template-columns: 10% 85%;
    padding: 10px;
}

.rightfooter {
    margin-left: 15px;
    color: #FFFFFF;
}

.contus {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}