body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fcf7f2;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header area */
.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 100%;
}

.header {

    width: 100%;
    background: #63338A;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 80px;
    font-weight: 700;
}

.logo {
    width: 76px;
    height: 62px;
    left: 40px;
    top: 8.5px;
    margin: auto;
}

.header .inactive {
    color: white;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

.header .inactive:hover {
    color: #ffa700;
}

.humicon {
    width: 46px;
    height: 46px;
    right: 40px;
    top: 11px;
    margin: auto;
    border-radius: 50%;
}
.humicon img{
    border-radius: 50%;
    width: 46px;
    height: 46px;
    vertical-align: middle;
}
.login {
    width: 85px;
    height: 50px;
    left: 1176px;
    top: 12px;
    background: #FABA18;
    border-radius: 80px;
    margin: auto;
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.login a {
    text-decoration: none;
}

.login:active {
    background: #D39A07;
}

.logintxt {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #000000;
}

/* isi area */
.container {
    margin-top: 10px;
}

.card-body {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 0rem 0rem;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}

.account-settings .about p {
    font-size: 0.825rem;
}

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
    width: 85%;
}

.form-group {
    margin-left: 10px;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.cardbg {
    width: 100%;
    height: 30%;
    object-fit: cover;
    border-radius: 10px 10px 15px 15px;
    background-image: url(/image/profil-background.jpg);
}

.custom-file-input {
    width: 50%;
}

.custom-file-input {
    color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

/* .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12{

} */
.row>* {
    padding-right: 0px;
    padding-left: 15px;
}

.custom-file-input::before {
    content: 'Upload a new photo';
    color: black;
    display: inline-block;
    background: #FABA18;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    /* -webkit-user-select: none; */
    cursor: pointer;

    font-weight: 700;
    font-size: 9pt;
}

a {
    text-decoration: none;
    color: white;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active {
    outline: 0;
}

.custom-file-input:active::before {
    background: #331849;
    color: white;
}

button#submit.btn {
    margin: 8px;
    margin-top: 20px;
}

h6.mb-2.text-primary {
    margin: 10px;
}

.text-right {
    margin-left: 100px;
}

/* footer area */
.footer {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 700;
    height: 135px;
    width: 100%;
    background: #331849;
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
}

.connect {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin: auto;
    margin-left: 2rem;
    text-align: center;
    gap: 2px;
}

.contact {
    margin: auto;
    margin-right: 5rem;
}

.baris {
    display: grid;
    grid-template-columns: 10% 85%;
    padding: 10px;
}

.rightfooter {
    margin-left: 15px;
    color: #FFFFFF;
}

.contus {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}